{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
<div class="jumbotron jumbotron-fluid" style="font-family: 'Caveat', cursive; font-size: 1.5em; border-radius: 50%;">
    <div class="container text-center">
        <h2 class="card-title h1-responsive font-bold"> List of Production Pitches</h2>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4" >
        {{macro.displayPitches(productPitches)}}
    </div>
</div>
</div>
{%endblock%}